<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilmiman</title>
</head>
<body>
    <header>
        <div> <h1><a href="{% url 'home.html'%}">Главная</a></h1></div>
         <a href="{% url 'abaut.html'%}">о сайте</a>
    </header>
    {% if user.is_authenticated %}
        <p>Добро пожаловать, {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Выход</a></p>
    {%else %}
        <p><a href="{% url 'signup.html' %}">Регистрация</a></p>
        <p><a href="{% url 'login' %}">Вход</a></p>
          
        
    {% endif %}
    <div>
        {% block content%}
        {% endblock content%}
    </div>
    <footer>
        <h2><a href="{% url 'post_new.html' %}">новая публикация</a></h2>
    </footer>
</body>
</html>